@font-face {
    font-family: 'GameOver';
    /*src: url('fonts/game_over.ttf');*/
    src: url('ACPLUS_IBM_BIOS.TTF');
    /*src: url('C:\\Users\\Asus\\Documents\\EPITA\\Projet S2\\Site Web\\fonts\\');*/
}

p
{
    line-height: 20px;
    margin-top: 20px;
    text-align: justify;

}

body
{
    margin: auto;
    background-color: rgb(55,55,55);
}

.content
{
    font-family: 'GameOver';
    width: 75%;
    margin: auto;
    background-color: rgb(55,55,55);
}

.titlebar
{
    font-family: 'GameOver';
    width: 100%;
}

.startbutton
{
    font-family:"GameOver";
    height: 1.5cm;
    font-size: 50px;
    display: block;
    text-align: center;
    color: chartreuse;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.download
{
    height: 01cm;
    font-size: 30px;
    display: block;
    text-align: center;
    color: chartreuse;
    text-decoration: none;

    padding-top:auto;
    padding-bottom: auto;

    margin-top: 1cm;
    margin-bottom: 1cm;
}

h3, h2, p
{
    font-family: 'GameOver';
    color: chartreuse;
}

.Martin
{
    margin-bottom: 2cm;
}

h1
{
    font-family: 'GameOver';
    color: chartreuse;
    font-size: 60px;
    text-align: center;
}

img
{
    display: inline-block;
}

.obese
{
    display: inline-block;
    width: 300px;
    height: 500px;
}

.level1
{
    width: 1000px;
    height: 300px;
}

.level
{
    width: 600px;
    height: 300px;
}

a:hover
{
    background-color: aliceblue;
}
